<%= link_to 'ブログ新規作成', blogs_new_path %>
<% @blogs.each do |blog| %>
  <p><%= blog.title %></p>
  <p><%= blog.content %></p>
  <%= link_to '削除', blogs_path(blog), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
